<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="classes">
  <test   name="Regression Suite" parallel="classes" thread-count="15">
    <classes>
     <class name="tests.BuyProductTest"/>
     <class name="tests.AccountLogoutTest"/>
     <class name="tests.AccountSignInTest"/>
     <class name="tests.ClickAboutTest"/>
     <class name="tests.ClickPhotoTest"/>
     <class name="tests.loginTest1"/>
     <class name="tests.LogoutTest"/>
     <class name="tests.MissingCredentialsTest"/>
     <class name="tests.OpenTwitterTest"/>
     <class name="tests.PageTests"/>
     <class name="tests.SignInTest"/>
     <class name="tests.TestingFilterTest"/>
     <class name="tests.WrongCredentialsTest"/>
     <class name="tests.WrongPasswordTest"/>
     <class name="tests.WrongUsernameTest"/>
    </classes>
     
    
  
  </test> 
</suite> 
